@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&family=Roboto:wght@300;400;700;900&display=swap');

body {
  background: #f6efed;
  color: #444;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  background: white;
}
.error {
  color: #ff3f80;
  font-size: 14px;
}
button {
  text-decoration: none;
  background: #5ae4ca;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
}
